<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Recipe</title>
</head>

<body>
    <h2>Coca Cola Recipe</h2>
    <a href="/">Go to Home</a>
    <h3>Ingredients</h3>
    <ul>
        <li>1 quart water</li>
        <li>Finely grated zest and juice of 1 lemon
        </li>
        <li>Finely grated zest and juice of 1 lime
        </li>
        <li>Finely grated zest and juice of 2 oranges
        </li>
        <li>3 large (5-inch) cinnamon sticks, broken into small pieces
        </li>
        <li>2 tablespoons dried bitter orange peel
        </li>
        <li>2 teaspoons coriander seed
        </li>
        <li>1/4 teaspoon finely grated nutmeg
        </li>
        <li>1 teaspoon gum arabic (optional)
        </li>
        <li>2 pounds sugar</li>
        <li>1/4 cup browning sauce, such as Kitchen Bouquet</li>
        <li>1/2 teaspoon vanilla extract</li>
    </ul>
    <br>

    <h3>Directions</h3>
    <ol>
        <li>To make the Natural Cola Syrup: Combine the water, lemon zest, lime zest, orange zest, cinnamon, bitter
            orange peel, coriander seed, nutmeg, and gum arabic (if using) in a large saucepan. Whisk together until the
            gum arabic dissolves. Stir in the sugar and bring to a boil, stirring until the sugar dissolves. Boil for 1
            minute.</li>
        <li>Remove from the heat and stir in the lemon, lime, and orange juices, along with the browning sauce and
            vanilla. Let cool, then strain.

            This syrup will keep in the refrigerator for up to 2 weeks.</li>
        <li>To mix with seltzer: Pour 1/2 cup cola syrup into a tall glass. Add 1 1/2 cups seltzer and stir until just
            blended. Add ice and serve.</li>
        <li>To carbonate with a siphon: Combine 3 1/4 cups water and 3/4 cup cola syrup in a 1-quart siphon. Charge with
            CO2 according to the manufacturer's directions. Siphon charged sodas can be stored in the siphon in a
            refrigerator for up to 5 days. Dispense as desired into tall glasses filled with ice and serve.</li>
    </ol>



</body>

</html>